body {
    font-family: Arial, sans-serif;
    color: #000; /* letra negra */
  }
  
  .contact-form {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form h2 {
    margin-top: 0;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #000; /* letra negra */
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .contact-form button[type="submit"] {
    background-color: #FF0000; /* botón rojo */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #FF0000; /* botón rojo */
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
  }
  
  footer p {
    margin-bottom: 0;
  }